<!--Start Breadcrumb-->
<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<ol class="breadcrumb">
			Smooth curve type:
			<select id="dropdownID">
			    <option value="continuous">continuous</option>
			    <option value="discrete">discrete</option>
			    <option value="diagonalCross">diagonalCross</option>
			    <option value="straightCross">straightCross</option>
			    <option value="horizontal">horizontal</option>
			    <option value="vertical">vertical</option>
			</select>
			Topology:
			<select id="topology">
			    <option value="5">small (5 nodes)</option>
			    <option value="10">large (10 nodes)</option>
			    <option value="20">Xlarge (20 nodes)</option>
			</select>
			<button id="topology-save">Save Topology</button>
		</ol> 
	</div>
</div>
<!--End Breadcrumb-->
<!--Start Dashboard 1-->

<!--End Dashboard 1-->
<!--Start Dashboard 2-->
<div class="row-fluid">
	<div id="dashboard_links" class="col-xs-12 col-sm-2 pull-right">
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="#" class="tab-link" id="overview">Design Overview</a></li>
			<li><a href="#" class="tab-link" id="clients">Tables</a></li>
			<li><a href="#" class="tab-link" id="graph">Charts</a></li>
			<li><a href="#" class="tab-link" id="servers">Timelines</a></li>
		</ul>
	</div>

	<div id="dashboard_tabs" class="col-xs-12 col-sm-10">
		<!--Start Dashboard Tab 1-->
		<div id="dashboard-overview" class="row" style="visibility: visible; position: relative;">
			<div id="network-popUp">
			  <span id="operation">node</span> <br>
			  <table style="margin:auto;"><tr>
			    <td>id</td><td><input id="node-id" value="new value"></td>
			  </tr>
			   <tr>
			    <td>label</td><td><input id="node-label" value="new value"> </td>
			   </tr></table>
			  <input type="button" value="save" id="saveButton"></button>
			  <input type="button" value="cancel" id="cancelButton"></button>
			</div>
			<br />
			<div id="mynetwork"></div>
			<div id="googlemaps"></div>
			<p id="selection"></p>
			<h1>View</h1>
			<table class="view">

			  <tr>
			    <td>
			      <h2>Nodes</h2>
			      <pre id="nodes"></pre>
			    </td>

			    <td>
			      <h2>Edges</h2>
			      <pre id="edges"></pre>
			    </td>
			    
			  </tr>
			</table>

			<%= javascript_tag do %>
			  window.productsURL = "<%=j topologies_url %>";
			  window.products = <%=raw Topology.all.to_json %>;
			<% end %>

		</div>
		<!--End Dashboard Tab 1-->
		<!--Start Dashboard Tab 2-->
		<div id="dashboard-clients" class="row" style="visibility: hidden; position: absolute;">
			<div class="row one-list-message">
				<div class="col-xs-1"><i class="fa fa-users"></i></div>
				<div class="col-xs-2"><b>Country</b></div>
				<div class="col-xs-2">Visitors</div>
				<div class="col-xs-2">Page hits</div>
				<div class="col-xs-2">Revenue</div>
				<div class="col-xs-1">Activity</div>
				<div class="col-xs-2">Date</div>
			</div>
			<div class="row one-list-message">
				<div class="col-xs-1"><i class="fa fa-user"></i></div>
				<div class="col-xs-2"><b>USA</b></div>
				<div class="col-xs-2">109455</div>
				<div class="col-xs-2">54322344</div>
				<div class="col-xs-2"><i class="fa fa-usd"></i> 354563</div>
				<div class="col-xs-1"><span class="bar"></span></div>
				<div class="col-xs-2 message-date">12/31/13</div>
			</div>
			<div class="row one-list-message">
				<div class="col-xs-1"><i class="fa fa-user"></i></div>
				<div class="col-xs-2"><b>U.K.</b></div>
				<div class="col-xs-2">86549</div>
				<div class="col-xs-2">43242344</div>
				<div class="col-xs-2"><i class="fa fa-usd"></i> 265563</div>
				<div class="col-xs-1"><span class="bar"></span></div>
				<div class="col-xs-2 message-date">12/25/13</div>
			</div>
			<div class="row one-list-message">
				<div class="col-xs-1"><i class="fa fa-user"></i></div>
				<div class="col-xs-2"><b>FRANCE</b></div>
				<div class="col-xs-2">79399</div>
				<div class="col-xs-2">45376844</div>
				<div class="col-xs-2"><i class="fa fa-usd"></i> 309456</div>
				<div class="col-xs-1"><span class="bar"></span></div>
				<div class="col-xs-2 message-date">12/30/13</div>
			</div>
			<div class="row one-list-message">
				<div class="col-xs-1"><i class="fa fa-user"></i></div>
				<div class="col-xs-2"><b>GERMANY</b></div>
				<div class="col-xs-2">94567</div>
				<div class="col-xs-2">35322344</div>
				<div class="col-xs-2"><i class="fa fa-usd"></i> 301040</div>
				<div class="col-xs-1"><span class="bar"></span></div>
				<div class="col-xs-2 message-date">12/26/13</div>
			</div>
			<div class="row one-list-message">
				<div class="col-xs-1"><i class="fa fa-user"></i></div>
				<div class="col-xs-2"><b>CANADA</b></div>
				<div class="col-xs-2">89525</div>
				<div class="col-xs-2">1342344</div>
				<div class="col-xs-2"><i class="fa fa-usd"></i> 298764</div>
				<div class="col-xs-1"><span class="bar"></span></div>
				<div class="col-xs-2 message-date">12/30/13</div>
			</div>
			<div class="row one-list-message">
				<div class="col-xs-1"><i class="fa fa-user"></i></div>
				<div class="col-xs-2"><b>CHINA</b></div>
				<div class="col-xs-2">120865</div>
				<div class="col-xs-2">43522344</div>
				<div class="col-xs-2"><i class="fa fa-usd"></i> 776563</div>
				<div class="col-xs-1"><span class="bar"></span></div>
				<div class="col-xs-2 message-date">12/29/13</div>
			</div>
		</div>
		<!--End Dashboard Tab 2-->
		<!--Start Dashboard Tab 3-->
		<div id="dashboard-graph" class="row" style="width:100%; visibility: hidden; position: absolute;" >
			<div class="col-xs-12">
				<h4 class="page-header">OS Platform Statistics</h4>
				<div id="stat-graph" style="height: 300px;"></div>
			</div>
		</div>
		<!--End Dashboard Tab 3-->
		<!--Start Dashboard Tab 4-->
		<div id="dashboard-servers" class="row" style="visibility: hidden; position: absolute;">
			<div class="col-xs-12 col-sm-6 col-md-4 ow-server">
				<h4 class="page-header text-right"><i class="fa fa-windows"></i>#SRV-APP</h4>
				<small>Application server</small>
				<div class="ow-settings">
					<a href="#"><i class="fa fa-gears"></i></a>
				</div>
				<div class="row ow-server-bottom">
					<div class="col-sm-4">
						<div class="knob-slider">
							<input id="knob-srv-1" class="knob" data-width="60"  data-height="60" data-angleOffset="180" data-fgColor="#6AA6D6" data-skin="tron" data-thickness=".2" value="">CPU Load
						</div>
					</div>
					<div class="col-sm-8">
						<div class="row"><i class="fa fa-windows"></i> Windows 2008</div>
						<div class="row"><i class="fa fa-user"></i> Active users - 49</div>
						<div class="row"><i class="fa fa-bolt"></i> Uptime - 10 days</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 ow-server">
				<h4 class="page-header text-right"><i class="fa fa-windows"></i>#DB-MASTER</h4>
				<small>SQL server</small>
				<div class="ow-settings">
					<a href="#"><i class="fa fa-gears"></i></a>
				</div>
				<div class="row ow-server-bottom">
					<div class="col-sm-4">
						<div class="knob-slider">
							<input id="knob-srv-2" class="knob" data-width="60"  data-height="60" data-angleOffset="180" data-fgColor="#6AA6D6" data-skin="tron" data-thickness=".2" value="">CPU Load
						</div>
					</div>
					<div class="col-sm-8">
						<div class="row"><i class="fa fa-windows"></i> Windows 2013</div>
						<div class="row"><i class="fa fa-user"></i> Active users - 39</div>
						<div class="row"><i class="fa fa-bolt"></i> Uptime - 2 month 1 day</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 ow-server">
				<h4 class="page-header text-right"><i class="fa fa-linux"></i>#DB-WEB</h4>
				<small>MySQL server</small>
				<div class="ow-settings">
					<a href="#"><i class="fa fa-gears"></i></a>
				</div>
				<div class="row ow-server-bottom">
					<div class="col-sm-4">
						<div class="knob-slider">
							<input id="knob-srv-3" class="knob" data-width="60"  data-height="60" data-angleOffset="180" data-fgColor="#6AA6D6" data-skin="tron" data-thickness=".2" value="">CPU Load
						</div>
					</div>
					<div class="col-sm-8">
						<div class="row"><i class="fa fa-linux"></i> CentOS 6.5</div>
						<div class="row"><i class="fa fa-user"></i> Active users - 298</div>
						<div class="row"><i class="fa fa-bolt"></i> Uptime - 9 month 17 day</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 ow-server">
				<h4 class="page-header text-right"><i class="fa fa-linux"></i>#WWW-SRV</h4>
				<small>Web-server</small>
				<div class="ow-settings">
					<a href="#"><i class="fa fa-gears"></i></a>
				</div>
				<div class="row ow-server-bottom">
					<div class="col-sm-4">
						<div class="knob-slider">
							<input id="knob-srv-4" class="knob" data-width="60"  data-height="60" data-angleOffset="180" data-fgColor="#6AA6D6" data-skin="tron" data-thickness=".2" value="">CPU Load
						</div>
					</div>
					<div class="col-sm-8">
						<div class="row"><i class="fa fa-linux"></i> Centos 6.5</div>
						<div class="row"><i class="fa fa-user"></i> Active users - 1989</div>
						<div class="row"><i class="fa fa-bolt"></i> Uptime - 2 years 3 month</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 ow-server">
				<h4 class="page-header text-right"><i class="fa fa-linux"></i>#PHONE-OFFICE</h4>
				<small>Asterisk</small>
				<div class="ow-settings">
					<a href="#"><i class="fa fa-gears"></i></a>
				</div>
				<div class="row ow-server-bottom">
					<div class="col-sm-4">
						<div class="knob-slider">
							<input id="knob-srv-5" class="knob" data-width="60"  data-height="60" data-angleOffset="180" data-fgColor="#6AA6D6" data-skin="tron" data-thickness=".2" value="">CPU Load
						</div>
					</div>
					<div class="col-sm-8">
						<div class="row"><i class="fa fa-linux"></i> Debian 6.4</div>
						<div class="row"><i class="fa fa-phone"></i> Active calls - 86</div>
						<div class="row"><i class="fa fa-bolt"></i> Uptime - 3 month 19 day</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 ow-server">
				<h4 class="page-header text-right"><i class="fa fa-linux"></i>#DEVEL</h4>
				<small>DEV server</small>
				<div class="ow-settings">
					<a href="#"><i class="fa fa-gears"></i></a>
				</div>
				<div class="row ow-server-bottom">
					<div class="col-sm-4">
						<div class="knob-slider">
							<input id="knob-srv-6" class="knob" data-width="60"  data-height="60" data-angleOffset="180" data-fgColor="#6AA6D6" data-skin="tron" data-thickness=".2" value="">CPU Load
						</div>
					</div>
					<div class="col-sm-8">
						<div class="row"><i class="fa fa-linux"></i> CentOS 6.5</div>
						<div class="row"><i class="fa fa-archive"></i> Repositories - 17</div>
						<div class="row"><i class="fa fa-bolt"></i> Uptime - 4 month 21 day</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div id="ow-server-footer">
				<a href="#" class="col-xs-4 col-sm-2 btn-default text-center"><i class="fa fa-sun-o"></i> <b>287</b> <span>Hosts</span></a>
				<a href="#" class="col-xs-4 col-sm-2 btn-default text-center"><i class="fa fa-envelope-o"></i> <b>56</b> <span>Messages</span></a>
				<a href="#" class="col-xs-4 col-sm-2 btn-default text-center"><i class="fa fa-desktop"></i> <b>85</b> <span>Stations</span></a>
				<a href="#" class="col-xs-4 col-sm-2 btn-default text-center"><i class="fa fa-info-circle"></i> <b>33</b> <span>Errors</span></a>
				<a href="#" class="col-xs-4 col-sm-2 btn-default text-center"><i class="fa fa-comments-o"></i> <b>1386</b> <span>Comments</span></a>
				<a href="#" class="col-xs-4 col-sm-2 btn-default text-center"><i class="fa fa-user"></i> <b>19985</b> <span>Clients</span></a>
			</div>
		</div>
		<!--End Dashboard Tab 4-->

	</div>
	<div class="clearfix"></div>
</div>
<!--End Dashboard 2 -->
<div style="height: 40px;"></div>
<script type="text/javascript">
// Array for random data for Sparkline
var sparkline_arr_1 = SparklineTestData();
var sparkline_arr_2 = SparklineTestData();
var sparkline_arr_3 = SparklineTestData();
$(document).ready(function() {
	// Make all JS-activity for dashboard
	DashboardTabChecker();
	// Load Knob plugin and run callback for draw Knob charts for dashboard(tab-servers)
	LoadKnobScripts(DrawKnobDashboard);
	// Load Sparkline plugin and run callback for draw Sparkline charts for dashboard(top of dashboard + plot in tables)
	LoadSparkLineScript(DrawSparklineDashboard);
	// Load Morris plugin and run callback for draw Morris charts for dashboard
	LoadMorrisScripts(MorrisDashboard);
	// Make beauty hover in table
	$("#ticker-table").beautyHover();
});
</script>
