<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <h2>Sign in here</h2>

  <%= f.email_field :email, :autofocus => true, :placeholder => "Email address", :class => "form-control" %>
  <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
  <% end -%>

  <%= f.submit "Sign in", :class => "btn btn-lg btn-primary btn-block" %>
<% end %>

<%= render "devise/shared/links" %>
