<h1>Listing topologies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Topology type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topologies.each do |topology| %>
      <tr>
        <td><%= topology.name %></td>
        <td><%= topology.topology_type %></td>
        <td><%= link_to 'Show', topology %></td>
        <td><%= link_to 'Edit', edit_topology_path(topology) %></td>
        <td><%= link_to 'Destroy', topology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topology', new_topology_path %>
