<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topology.name %>
</p>

<p>
  <strong>Topology type:</strong>
  <%= @topology.topology_type %>
</p>

<%= link_to 'Edit', edit_topology_path(@topology) %> |
<%= link_to 'Back', topologies_path %>
